<template>
    <div class="container">
      <div class="jumbotron mt-5">
          <h1 class="text-center">Welcom to Auction Conference</h1>
      </div>
      <div>
        <table class="table table-striped table-borders">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Buy</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="products in products" :key="products._id">
            <td><img width="100px" height="100px" :src="products.productImage"/></td>
            <td>{{ products.name }}</td>
            <td>{{ products.price }}</td>
            <td><button v-on:click.prevent="buy(products._id)">Buy</button></td>
            <td><button v-on:click.prevent="deleteProduct(products._id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'app',
  data () {
    return {
      products: []
    }
  },
  mounted () {
    axios.get('http://localhost:3000/products', {
    }).then(response => {
      this.products = response.data.products
    }).catch(err => {
      console.log(err)
      alert('Error')
    })
  },
  methods: {
    buy (_id) {
      axios.put('http://localhost:3000/products/' + _id, {
        name: this.products.name,
        productImage: this.products.productImage,
        _id: this.products.productImage,
        price: this.products.price + 1
      }).then(response => {
        alert('successful')
        window.location.response()
      }).catch(err => {
        console.log(err)
        alert(err)
      })
    },
    deleteProduct (_id) {
      axios.delete('http://localhost:3000/products/' + _id
      ).then(response => {
        alert('successful')
        window.location.response()
      }).catch(err => {
        console.log(err)
        alert(err)
      })
    }
  }
}

</script>
