<template>
    <div class="container">
        <div class="jumbotron mt-5">
            <div class="col-sm-8 mx-auto">
                <h1 class="text-center">Add Product</h1>
            </div>
            <form v-on:submit.prevent="addproduct">
                    <div class="form-group">
                        <label for="name">Product Name</label>
                        <input type="text" v-model="name" class="form-control" name="name" placeholder="Enter Product Name">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" v-model="price" class="form-control" name="price" placeholder="Enter Price">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Product</button>
                </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import router from '../router'

export default {
  data () {
    return {
      name: '',
      Price: ''
    }
  },
  methods: {
    addproduct () {
      axios.post('http://localhost:3000/products', {
        name: this.name,
        price: this.price
      }).then(response => {
        console.log(response.data, localStorage.getItem('token'))
        router.push({ name: 'Home' })
        alert('successful')
      }).catch(err => {
        console.log(localStorage.getItem('token'))
        console.log(err)
        alert(err)
      })
    }
  }
}
</script>
